.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* background-image: linear-gradient(to top, rgb(27, 27, 250), rgb(3, 3, 136)); */
  background: rgb(10, 96, 254);
  box-shadow: outset 0 15px 50px -10px rgb(0, 0, 0);
  color: white;
}

.right-nav {
  padding-right: 50px;
}

@media (max-width: 800px) {
  .right-nav > :link {
    font-size: 10px;
  }
  h1 {
    font-size: 15px;
  }
}

@media (max-width: 500px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
  }

  .right-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding-right: 5px;
  }

  .right-nav > :link {
    margin: 5px;
    font-size: 8px;
  }
  .free-trial {
    padding: 10px;
  }
}

.sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: rgb(63, 65, 69);
  color: white;
  font-size: 15px;
  box-shadow: inset 0 15px 50px -10px rgb(0, 0, 0);
}

.sub-nav > h1 {
  padding-left: 20px;
}

a,
:link {
  margin: 20px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.free-trial {
  background-color: rgb(63, 65, 69);
  padding: 10px;
}
