.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
}

@media (max-width: 500px) {
  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: blue;
    color: white;
  }

  a {
    font-size: 8px;
    margin: 5px;
  }

  .free-trial {
    padding: 5px;
  }
}

.sub-nav {
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: rgb(63, 65, 69);
  color: white;
  font-size: 15px;
}

.nav > h1,
.sub-nav > h1 {
  padding-left: 50px;
}

.nav > div {
  padding-right: 50px;
}

a {
  margin: 20px;
  font-size: 15px;
  text-decoration: none;
  color: white;
}

.free-trial {
  background-color: rgb(63, 65, 69);
  padding: 10px;
}
