.footer {
  height: 35%;
  width: 100%;
  margin: 0;
  background-color: rgb(63, 65, 69);
  color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.footer > ul > li {
  padding: 0 10px;
  border-left: 2px solid whitesmoke;
  margin-top: 20px;
  color: whitesmoke;
  font-size: 12px;
}
@media (max-width: 500px) {
  .footer > ul > li {
    font-size: 8px;
  }
  .footer > ul {
    padding-inline-start: 10px;
  }
  .home-item {
    padding-left: 0;
  }
}

.footer > ul > li.home-item {
  border: none;
  padding: 0 10px 0 0;
}

.footer > div {
  padding-inline-start: 40px;
  padding-inline-end: 40px;
}

.tag {
  font-size: 40px;
}

.footer > p {
  text-align: left;
  padding-inline-start: 40px;
  margin: 10px;
  font-size: 12px;
}

.footer > ul > li.social-icons {
  border: none;
  font-size: 30px;
  margin: 0;
}

span {
  display: none;
}
